<launch>
  <env name="ROSLAUNCH_SSH_UNKNOWN" value="1" />

  <!-- Set turtlebot model for gazebo -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <!-- Determine if we are running a simulation, or running on hardware -->
  <arg name ="sim" default="0"/>  <!-- running on hardware by default -->
  <!-- <arg name="run_vicon" default="$(eval not arg('sim'))"/> -->


  <!-- choose robots -->
  <arg name="tb1" default="false"/>
  <arg name="tb2" default="false"/>
  <arg name="tb3" default="false"/>
  <arg name="tb4" default="false"/>
  <arg name="tb5" default="false"/>
  <arg name="tb6" default="false"/>
  <arg name="tb7" default="false"/>
  <arg name="tb8" default="false"/>
  <arg name="tb9" default="false"/>
  <arg name="tb10" default="false"/>
  <arg name="tb11" default="false"/>
  <arg name="tb12" default="false"/>

  <!-- Launch vicon if running on hardware or in simulation with vicon data-->
  <include unless="$(arg sim)" file="$(find vicon_bridge)/launch/vicon.launch" />

  <!-- For simulations, launch Gazebo -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <!-- If in simulation, dispaly world boundaries in Gazebo-->  
  <node pkg="MRN_rogue_hardware" type="sim_room_boundaries.py" name="sim_room_boundaries" output="log"  if="$(arg sim)" />

  <!-- start selected controllers -->
  <group if="$(arg tb1)" ns="tb1">
    <param name="tf_prefix" value="tb1_tf" />
    <!-- Launch simulation with pre-selected starting positions -->
    <include if="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual_sim.launch" >
      <arg name="init_pose" value="-x -2.0 -y 0.5 -z 0.0 -Y 0.0" /> 
      <arg name="robot_name"  value="tb1" />
      <arg name="sim"  value="-sim 1" />   
    </include>

    <include unless="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual.launch">
      <arg name="robot_name" value="tb1"/>
      <arg name="robot_ip" value="192.168.121.191"/>
      <arg name="sim"  value="-sim 0" />  
    </include>
  </group>

  <group if="$(arg tb2)" ns="tb2">
    <param name="tf_prefix" value="tb2_tf" />
    <!-- Launch simulation with pre-selected starting positions -->
    <include if="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual_sim.launch" >
      <arg name="init_pose" value="-x -2.0 -y 0.0 -z 0.0 -Y 0.0" /> 
      <arg name="robot_name"  value="tb2" />
      <arg name="sim"  value="-sim 1" />   
    </include>

    <include unless="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual.launch">
      <arg name="robot_name" value="tb2"/>
      <arg name="robot_ip" value="192.168.121.192"/>
      <arg name="sim"  value="-sim 0" />  
    </include>
  </group>

  <group if="$(arg tb3)" ns="tb3">
    <param name="tf_prefix" value="tb3_tf" />
    <!-- Launch simulation with pre-selected starting positions -->
    <include if="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual_sim.launch" >
      <arg name="init_pose" value="-x -1.0 -y 1.15 -z 0.0 -Y -1.57" /> 
      <arg name="robot_name"  value="tb3" />
      <arg name="sim"  value="-sim 1" />   
    </include>

    <include unless="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual.launch">
      <arg name="robot_name" value="tb3"/>
      <arg name="robot_ip" value="192.168.121.193"/>
      <arg name="sim"  value="-sim 0" />  
    </include>
  </group>

  <group if="$(arg tb4)" ns="tb4">
    <param name="tf_prefix" value="tb4_tf" />
    <!-- Launch simulation with pre-selected starting positions -->
    <include if="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual_sim.launch" >
      <arg name="init_pose" value="-x 0.75 -y 2.5 -z 0.0 -Y -1.57" /> 
      <arg name="robot_name"  value="tb4" />
      <arg name="sim"  value="-sim 1" />   
    </include>

    <include unless="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual.launch">
      <arg name="robot_name" value="tb4"/>
      <arg name="robot_ip" value="192.168.121.194"/>
      <arg name="sim"  value="-sim 0" />  
    </include>
  </group>

  <group if="$(arg tb5)" ns="tb5">
    <param name="tf_prefix" value="tb5_tf" />
    <!-- Launch simulation with pre-selected starting positions -->
    <include if="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual_sim.launch" >
      <arg name="init_pose" value="-x 0.25 -y -2.0 -z 0.0 -Y 1.57" /> 
      <arg name="robot_name"  value="tb5" />
      <arg name="sim"  value="-sim 1" />   
    </include>

    <include unless="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual.launch">
      <arg name="robot_name" value="tb5"/>
      <arg name="robot_ip" value="192.168.121.195"/>
      <arg name="sim"  value="-sim 0" />  
    </include>
  </group>

  <group if="$(arg tb6)" ns="tb6">
    <param name="tf_prefix" value="tb6_tf" />
    <!-- Launch simulation with pre-selected starting positions -->
    <include if="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual_sim.launch" >
      <arg name="init_pose" value="-x 2 -y -1.0 -z 0.0 -Y 3.14" /> 
      <arg name="robot_name"  value="tb6" />
      <arg name="sim"  value="-sim 1" />   
    </include>

    <include unless="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual.launch">
      <arg name="robot_name" value="tb6"/>
      <arg name="robot_ip" value="192.168.121.196"/>
      <arg name="sim"  value="-sim 0" />  
    </include>
  </group>

  <group if="$(arg tb7)" ns="tb7">
    <!-- Launch simulation with pre-selected starting positions -->
    <param name="tf_prefix" value="tb7_tf" />
    <include if="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual_sim.launch" >
      <arg name="init_pose" value="-x 1.5 -y 1 -z 0.0 -Y 3.14" /> 
      <arg name="robot_name"  value="tb7" />
      <arg name="sim"  value="-sim 1" />   
    </include>

    <include unless="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual.launch">
      <arg name="robot_name" value="tb7"/>
      <arg name="robot_ip" value="192.168.121.197"/>
      <arg name="sim"  value="-sim 0" />  
    </include>
  </group>

  <group if="$(arg tb8)" ns="tb8">
    <!-- Launch simulation with pre-selected starting positions -->
    <param name="tf_prefix" value="tb8_tf" />
    <include if="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual_sim.launch" >
      <arg name="init_pose" value="-x 2.5 -y 1.0 -z 0.0" /> 
      <arg name="robot_name"  value="tb8" />
      <arg name="sim"  value="-sim 1" />   
    </include>

    <include unless="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual.launch">
      <arg name="robot_name" value="tb8"/>
      <arg name="robot_ip" value="192.168.121.198"/>
      <arg name="sim"  value="-sim 0" />  
    </include>
  </group>

  <group if="$(arg tb9)" ns="tb9">
    <!-- Launch simulation with pre-selected starting positions -->
    <param name="tf_prefix" value="tb9_tf" />
    <include if="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual_sim.launch" >
      <arg name="init_pose" value="-x 3.0 -y 3.0 -z 0.0" /> 
      <arg name="robot_name"  value="tb9" />
      <arg name="sim"  value="-sim 1" />   
    </include>

    <include unless="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual.launch">
      <arg name="robot_name" value="tb9" />
      <arg name="robot_ip" value="192.168.121.199"/>
      <arg name="sim"  value="-sim 0" />  
    </include>
  </group>
  
  <group if="$(arg tb9)" ns="tb10">
    <!-- Launch simulation with pre-selected starting positions -->
    <param name="tf_prefix" value="tb10_tf" />
    <include if="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual_sim.launch" >
      <arg name="init_pose" value="-x 0.0 -y 3.0 -z 0.0 -Y -1.57" /> 
      <arg name="robot_name"  value="tb10" />
      <arg name="sim"  value="-sim 1" />   
    </include>

    <include unless="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual.launch">
      <arg name="robot_name" value="tb10" />
      <arg name="robot_ip" value="192.168.121.200"/>
      <arg name="sim"  value="-sim 0" />  
    </include>
  </group>
  
  <group if="$(arg tb11)" ns="tb11">
    <!-- Launch simulation with pre-selected starting positions -->
    <param name="tf_prefix" value="tb11_tf" />
    <include if="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual_sim.launch" >
      <arg name="init_pose" value="-x 3.0 -y 0.0 -z 0.0 -Y 0/0" /> 
      <arg name="robot_name"  value="tb11" />
      <arg name="sim"  value="-sim 1" />   
    </include>

    <include unless="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual.launch">
      <arg name="robot_name" value="tb11" />
      <arg name="robot_ip" value="192.168.121.201"/>
      <arg name="sim"  value="-sim 0" />  
    </include>
  </group>
  
  <group if="$(arg tb12)" ns="tb12">
    <!-- Launch simulation with pre-selected starting positions -->
    <param name="tf_prefix" value="tb12_tf" />
    <include if="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual_sim.launch" >
      <arg name="init_pose" value="-x 3.0 -y 3.0 -z 0.0" /> 
      <arg name="robot_name"  value="tb12" />
      <arg name="sim"  value="-sim 1" />   
    </include>

    <include unless="$(arg sim)" file="$(find MRN_rogue_hardware)/launch/individual.launch">
      <arg name="robot_name" value="tb12" />
      <arg name="robot_ip" value="192.168.121.202"/>
      <arg name="sim"  value="-sim 0" />  
    </include>
  </group>

<include if="$(arg sim)" file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="paused" value="true"/>
  <arg name="use_sim_time" value="true"/>
</include>


</launch>
